* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  overflow-y: scroll;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.link {
  text-decoration: none;
  color: dodgerblue;
  background: none;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
