* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "optimistic_display";
  src:
    local("optimistic_display_regular"),
    url("../Fonts/optimistic_display/optimistic_display_regular.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "optimistic_display";
  src:
    local("optimistic_display_medium"),
    url("../Fonts/optimistic_display/optimistic_display_medium.ttf")
      format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "optimistic_display";
  src:
    local("optimistic_display_bold"),
    url("../Fonts/optimistic_display/optimistic_display_bold.ttf")
      format("truetype");
  font-weight: bold;
  font-display: swap;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fb;
  overflow-y: scroll;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.link {
  text-decoration: none;
  color: dodgerblue;
  background: none;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
