.application {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(75, 75, 75);
}

.application-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.application-header-text {
  width: calc(100% - 50px);
}

.application-divider {
  width: 100%;
  height: 1px;
  background: rgb(200, 200, 200);
  border: none;
}

.application-company {
  font-size: 1.2rem;
  font-weight: 600;
  color: #3f3d56;
}

.application-company,
.application-position {
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.application-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.application-header-icon {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
}

.application-header-icon p {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.application-delete,
.application-edit,
.application-link {
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  color: white;
  transition: all 200ms ease-in-out;
}

.application-delete {
  background: red;
}

.application-edit,
.application-link {
  background: gray;
}

.application-delete:hover,
.application-edit:hover,
.application-link:hover {
  filter: brightness(0.75);
}

.application-field {
  display: flex;
  align-items: center;
  gap: 5px;
}

.application-tags {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.application-status {
  align-self: start;
  font-size: 1rem;
  color: rgb(100, 100, 255);
  background: rgb(225, 225, 255);
  padding: 5px;
  border-radius: 4px;
}

.application-notes-read-more {
  color: royalblue;
  cursor: pointer;
}

label:has(+ input:required)::after {
  content: " *";
  color: red;
}

label:has(+ select:required)::after {
  content: " *";
  color: red;
}

.application-notes {
  width: 100%;
  white-space: normal;
  word-break: break-all;
}
