.application {
  background-color: #e9edf0;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #273a51;
  word-break: break-all;
  cursor: pointer;
}

.application:hover {
  background-color: #159e87;
  transition: all 200ms ease-in-out;
  color: white;
}

.application-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.application-header-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.application-company {
  font-weight: 600;
  width: 100%;
}

.application-position {
  display: flex;
  align-items: center;
  gap: 1px;
  width: 100%;
}

.application-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
  align-self: flex-start;
  flex: 0.25;
}

.application-delete,
.application-edit {
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  color: black;
}

.application-link {
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

.application-delete:hover,
.application-edit:hover,
.application-link:hover {
  background: rgb(225, 225, 225);
}
