.dashboard {
  width: 100%;
  margin-top: 60px;
}

.filters-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4a5860;
  padding: 10px 0;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: calc(100% - 40px);
  flex-wrap: wrap;
  gap: 10px;
}

.filters input,
.filters select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  color: #273a51;
  flex-grow: 1;
}

.applications {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  margin: 20px 0;
  max-width: 1200px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.application-placeholder {
  border: 2px dashed #0060b9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #0060b9;
  transition: all 200ms ease-in-out;
  text-decoration: none;
  font-size: 2rem;
}
