.footer-container {
  width: 100%;
  background: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: auto;
}

.footer {
  max-width: 1200px;
  width: calc(100% - 40px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-text {
  color: #273a51;
  display: flex;
  gap: 10px;
}

.footer-link {
  color: dodgerblue;
  text-decoration: none;
}
