.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.form-sub-container {
  display: flex;
  align-items: center;
  max-width: 600px;
  width: calc(100% - 40px);
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #273a51;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.input {
  padding: 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  color: #273a51;
  background: #eeeeee;
}

.textarea {
  resize: vertical;
  font-family: "Roboto", sans-serif;
}

.label {
  color: #273a51;
}

.form-buttons {
  display: flex;
  width: 100%;
  gap: 10px;
}

.submit-button {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all ease-in-out 200ms;
  padding: 15px;
  border-radius: 10px;
  border: none;
  color: white;
  background: #0060b9;
  cursor: pointer;
  width: 100%;
}

.delete-button {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all ease-in-out 200ms;
  padding: 15px;
  border-radius: 10px;
  border: none;
  color: white;
  background: #e87070;
  cursor: pointer;
  width: 100%;
}

.password-button {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all ease-in-out 200ms;
  padding: 15px;
  border-radius: 10px;
  border: none;
  color: white;
  background: gray;
  cursor: pointer;
  width: calc(100% - 30px);
  text-align: center;
}

.logout-button {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all ease-in-out 200ms;
  padding: 15px;
  border-radius: 10px;
  border: none;
  color: white;
  background: gray;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.submit-button:hover,
.delete-button:hover,
.password-button:hover,
.logout-button:hover {
  filter: brightness(0.75);
}

.form-error {
  color: red;
}

label:has(+ input:required)::after {
  content: " *";
  color: red;
}

label:has(+ select:required)::after {
  content: " *";
  color: red;
}
