.navbar-container {
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  position: fixed;
  z-index: 1000;
  transition: all ease-in-out 200ms;
  top: 0;
  background: #5d6f78;
}

.navbar {
  max-width: 1200px;
  width: calc(100% - 40px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-size: 1.25rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-link {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  transition: all ease-in-out 200ms;
  padding: 10px 15px;
  border-radius: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  background: #4c5d67;
}

.nav-link:nth-child(2) {
  color: #5d6f78;
  background: white;
}

.nav-button:hover,
.nav-link:hover {
  filter: brightness(0.75);
}

.nav-button {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  transition: all ease-in-out 200ms;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.nav-link:nth-child(2) {
  color: #5d6f78;
  background: white;
}

@media screen and (max-width: 600px) {
  .navbar {
    width: calc(100% - 20px);
  }
  .nav-title {
    font-size: 1.25rem;
  }
  .nav-link {
    padding: 10px;
  }
}
